@model SimplyProductShop.Dto.OrderDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make order</h2>
<form>
    <div class="form-group">
        <label></label>
        <input type="text" value="" class="form-control" />
    </div>
</form>